<li class="message-list__item">
    <p>{{content}}</p>
    <a href="javascript:" id="ctaRemoveMessageItem" class="message-list__button" role="button">
        <img src="./images/icon-close-2.png" alt="icon-close.png">
    </a>
</li>