<div class="cart-card text-center" data-id="{{id}}">
    <div class="cart-card__header">
        <img src="{{imgURL}}" alt="item-img.jpg">
    </div>
    <div class="cart-card__body">
        <h3 class="heading-tertiary">
            "{{name}}"
        </h3>
        <div class="cart-card__price">${{price}}</div>
    </div>
</div>
